---
import clsx from "clsx";
import { actions } from "astro:actions";
import H1 from "../../components/h1.astro";
import { formatDate } from "../../lib/utils";
import InfoLayout from "../../layouts/InfoLayout.astro";

const articlesResult = await Astro.callAction(
  actions.categories.filterByCategory,
  {
    category: "all",
  }
);

const articles = articlesResult?.data?.articles || [];
---

<InfoLayout>
  <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
    <H1>Bildegalleri</H1>

    <p class="mt-5 text-xl xl:text-2xl text-zinc-500 text-balance">
      I sommer kjøpte jeg analog-kamera, som har resultert i en stor interesse
      for foto. her har jeg tatt bilder fra konserter og sosiale sammenkomster
      med mine venner:)
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 mt-6">
      <img src="1.jpg" class="w-full object-contain" alt="Bilde 1" />
      <img src="7.jpg" class="w-full object-contain" alt="Bilde 7" />
      <img src="2.jpg" class="w-full object-contain" alt="Bilde 2" />
      <img src="3.jpg" class="w-full object-contain" alt="Bilde 3" />
      <img src="4.jpg" class="w-full object-contain" alt="Bilde 4" />
      <img src="5.jpg" class="w-full object-contain" alt="Bilde 5" />
      <img src="8.jpg" class="w-full object-contain" alt="Bilde 8" />
      <img src="9.jpg" class="w-full object-contain" alt="Bilde 9" />
      <img src="10.jpg" class="w-full object-contain" alt="Bilde 10" />
      <img src="11.jpg" class="w-full object-contain" alt="Bilde 11" />
      <img src="12.jpg" class="w-full object-contain" alt="Bilde 12" />
      <img src="13.jpg" class="w-full object-contain" alt="Bilde 13" />
    </div>
  </div>
</InfoLayout>
