---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout
  title="Gard Sæbbe"
  description="Profilside for Gard Sæbbe"
  backgroundImage="/public/me-background.jpg"
>
  <div
    class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32"
  >
    <div class="space-y-4 sm:space-y-12">
      <H1> Gard Sæbbe </H1>

      <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
        Mitt navn er Gard, jeg er en 25 år gammel IT-student fra Bergen. Utenom
        skole driver jeg på med masse forskjellig... skrive mer bla bla
      </p>
    </div>

    <div class="space-y-2 text-base sm:text-lg">
      <h2
        class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500"
      >
        Artige ting jeg driver med:
      </h2>

      <ul class="px-4 text-zinc-400 list-disc list-outside">
        <li>Konsertarrangør</li>
        <li>Fotomagasin</li>
        <li>Skateboard-video</li>
        <li>Musikk</li>
        <li>Trening XD</li>
      </ul>
    </div>
  </div>
</InfoLayout>
