---
import { div } from "motion/react-m";

const { src, alt, onClose } = Astro.props;
---

{
  src && (
    <div
      class="fixed inset-0 bg-black/80 flex items-center justify-center z-50"
      onclick={onClose}
    >
      <img
        src={src}
        alt={alt}
        class="max-h-[90vh] max-w-[90vw] rounded-xl shadow-lg"
      />
    </div>
  )
}
